/*mã nguồn css*/
*{ 
          margin:0;
          padding:0;
          font-family: "Time New Ronam", Times, serif; 
          font-size: 16px;
          line-height:2;
}

img{ 
         width: 80%;
         max-width: 200px;
         margin: auto;
}

div.container{
          margin: 10px;
          background-color: #00a155;
}

table,tr,td{
            background-color: #00b763;
            border: 2px solid;
            border-radius: 25px;
            border: none;
} 

td#cot1{
          text-align: center;
} 